body{
    background-color: #7FFFD4;
}

.img_topo{
    width: 100%;

}

figure{
    text-align:center;
}

.container{
    width: 80%;
    margin:auto;
}

h1{
    text-align: center;
    color:#20B2AA;
}

p{
    font: size 2em;
    color:#20B2AA;
    text-align: justify;
    text-indent: 40px; 
}